/*Footer*/
.footer{
    color: $color4;
    padding: 2rem 0;
    background-color: $color3;
    @include flex(column, center, center);
    &_logo{
        width: auto;
        height: 4rem;
        img{
            width: auto;
            height: 100%;
        }
    }
    &_icons{
        padding: 2rem 0;
        @include flex(row, center, center);
        li{
            margin: 0 .5rem;
            .footer_svg{
                width: 2rem;
                height: 2rem;
                @include hoverSvg($color1);
            }
        }
    }
    &_main{
        width: 20rem;
        @include flex(row, space-between, center);
        .footer_svg{
            width: 8rem;
            height: 4rem;
            @include hoverSvg($color1);
        }
    }
    &_rgpd{
        width: 60rem;
        padding: 2rem 0;
        @include flex(row, space-between, center);
        li{
            margin: 0 1rem;
        }
    }
    &_svg{
        fill: $color4;
    }
}