/*Global*/
*{
	transition: .1s;
}
html,body{
	color: $color1;
    @include noSpace;
	scroll-behavior: smooth;
}
ul, li, ol, p, a, a:hover{
    @include noSpace;
	list-style: none;
	text-decoration: none;
}
a{
	cursor: pointer;
	color: $color4;
	@include hoverText($color1);
}